.form{
    width: 24rem;
    background: linear-gradient(to left,#dff6f7,#a3e0f0);
    padding: 4rem 3rem;
    border-radius: 50%/10%;
    box-shadow: 0 2rem 4rem 0 rgb(113,111,211,.5);
    display: flex;
    flex-direction: column ;
    height: 448px;
    gap: 1.5rem;
    top: 180px;
    left: 483px;
    position: absolute;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.login{
    text-align: center;
    position: absolute;
    top: 15px;
}

.input{
    width: 100%;
    border-radius: 5px;
}
.input1{
    border: 5px solid rgb(255, 255, 255);
    width: 100%;
    background-color: rgb(203, 239, 253);
}

.input2{
    border: 5px solid rgb(255, 255, 255);
    width: 100%;
    background-color: rgb(203, 239, 253);
}




