.wrap{
    width: 25%;
    background-color: rgb(11, 122, 187);
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 0px 10px black;
    border-radius: 25px;
}
#disd{
    border-radius: 25px 25px 0px 0px;
    font-size: 16px;
}
textarea{
    padding-right: 15px;
    width: 100%;
    height: 45px;
    background-color: #fff;
    font-size: 26px;
    text-align: right;
    border: 0px;
    align-content: center;
}
input{
    width: 60px;
    height: 35px;
}
.inputs{
    padding: 15px 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    gap: 5px;
    
}