table{
    width: 80%;
    margin: auto;
    text-align: center;
}
table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
.update_form{
    position: fixed;
    /* display: none; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 400px;
    background-color:  #ffffff;
    box-shadow: 0px 0px 25px #000000;
    border-radius:25px ;
    padding: 25px;
    /* filter: blur(5px); */
}
.form_btn_close{
    cursor: pointer;
    float: right;
}
.form form{
    float: right;
    margin-right: 10%;
    margin-bottom: 15px;
}
.pagination{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.btnlight{
    background-color: #000;
    color: #fff;
}
