table{
    width: 80%;
    margin: auto;
    text-align: center;
}
table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
.update_form{
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 400px;
    background-color:  #ffffff;
    box-shadow: 0px 0px 25px #000000;
    border-radius:25px ;
    padding: 25px;
    /* filter: blur(5px); */
}
.update_form span{
    margin-left: 20px;
}
.update_form input{
    margin-bottom: 15px;
}
.update_form input[type=submit]{
    margin: auto;
    display: flex;
}
.update_form button{
    position: absolute;
    right: 10px;
    top: 10px;
}
.form_btn_close{
    cursor: pointer;
}
.form form{
    float: right;
    margin-right: 10%;
    margin-bottom: 15px;
}
.pagination{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
.paginationn{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
#alerttt{
    float: right;
}
button.btnlight{
    background-color: black;
    color: #ffffff;
}
